<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perkenalan Diri</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

  <div class="container">
    <h2>Perkenalan Diri</h2>
    <table class="biodata">
      <tr>
        <td>Nama</td>
        <td>: irwan</td>
      </tr>
      <tr>
        <td>Umur</td>
        <td>: 18 Tahun</td>
      </tr>
      <tr>
        <td>Pekerjaan</td>
        <td>: - </td>
      </tr>
      <tr>
        <td>Hobi</td>
        <td>: Coding, Gaming, Membaca</td>
      </tr>
      <tr>
        <td>Keahlian</td>
        <td>: HTML, CSS, JavaScript, Node.js, Express.js</td>
      </tr>
    </table>
  </div>

</body>
</html>
